build
coverage
node_modules

**/*.orig
**/*.rej

source/**/*.ngfactory.ts
source/**/*.ngfactory.js
source/**/*.ngsummary.json
source/**/*.ngstyle.ts
source/**/*.shim.ngstyle.ts
source/**/*.shim.ts
source/**/*.shim.js
source/**/*.metadata.json
source/**/*.js
source/**/*.js.map

npm-debug.*

.DS_Store
