build
coverage
node_modules

**/*.orig
**/*.rej

modules/**/*.ngfactory.ts
modules/**/*.ngfactory.js
modules/**/*.ngsummary.json
modules/**/*.ngstyle.ts
modules/**/*.shim.ts
modules/**/*.shim.jsq
modules/**/*.metadata.json
modules/**/*.js
modules/**/*.js.map

npm-debug.*
