.DS_Store

.vscode

build
coverage
node_modules

**/*.orig
**/*.rej
**/*.swp
**/*~

source/**/*.ngfactory.ts
source/**/*.ngfactory.js
source/**/*.ngsummary.json
source/**/*.ngstyle.ts
source/**/*.shim.ngstyle.ts
source/**/*.shim.ts
source/**/*.shim.js
source/**/*.metadata.json
source/**/*.map

yarn-error.log
yarn.lock

nohup.out

npm-debug.*
